{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <p></p>
    {% if tasks %}

        {% for el in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <span style="margin: 30%; font-size: 30px">Главная страница</span><br>
        <p>У нас нет записей(</p>
        <p>Чтобы добавить - перейди во вкладку "Создать задачу"</p>
    {% endif %}
{% endblock %}